body, div {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    /* prevent text selection */
    -moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
}

.header {
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #777777;
}

.tabbar-item {
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
}

.tabbar-selected-item {
  border-bottom: 4px solid #1185c3;
}