body, div {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    /* prevent text selection */
    -moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
}

.famous-root {
  background-color: #ECECEC;
}

.header {
  line-height: 30px;
  font-size: 14px;
  text-align: left;
  color: #777777;
  color: #AAAAAA;
  padding-left: 10px;
}

.footer {
  -border-bottom: 1px solid #DDDDDD;
}

.tabbar-background {
  background-color: white;
}

.tabbar-item {
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
  color: black;
}

.tabbar-selected-item {
  border-bottom: 4px solid #1185c3;
}